.ctAppRoot .vue-toc-window .vue-base {
    height: 100%
}

.ctAppRoot .vue-toc-window .overflowAuto {
    overflow: auto;
}

.ctAppRoot .vue-toc-window .vue-toc__basemaps .list__tile:not(.list__tile--active),
.ctAppRoot .vue-toc-window .vue-toc__basemaps .list__tile .icon {
    color: inherit;
}

.ctAppRoot .vue-toc__layer-menu .list {
    padding: 0;
}

.ctAppRoot .vue-toc__layer-menu .vue-toc__opacity .list__tile {
    padding-left: 16px;
}

.ctAppRoot .vue-toc__layer-menu .vue-toc__opacity .list__tile .input-group--slider {
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.ctAppRoot .vue-toc__layer-menu .list__group--active:after {
    content: none;
}
.ctAppRoot .vue-toc__layer-tree .list__group__items .list__tile{
    padding-left: 16px;
}
.ctAppRoot .vue-toc__layer-tree .vue-toc__layer-tree{
   padding-left: 54px;
}

.ctAppRoot .vue-toc__layer-tree .list__group__header>div:not(.list__group__header__prepend-icon):not(.list__group__header__append-icon){
    max-width: 100%;
}
