.ctAppRoot .vue-toc-window .vue-base {
    height: 100%
}

.ctAppRoot .vue-toc-window .overflowAuto {
    overflow: auto;
}

.ctAppRoot .vue-toc-window .vue-toc__basemaps .list__tile:not(.list__tile--active),
.ctAppRoot .vue-toc-window .vue-toc__basemaps .list__tile .icon {
    color: inherit;
}
