{
    "extends": [
        "eslint-config-ct-prodeng"
    ],
    "rules": {
        "vue/require-prop-types": false,
        "vue/require-default-prop": false
    },
    "parserOptions": {
        "ecmaVersion": 7
    }
}